
:root {
    --badge-background-color: rgba(94, 234, 212, 0.2);
    --badge-text-color: rgba(94, 234, 212, 0.9);;

}

.custom-badge {
    background-color: var(--badge-background-color);
    color: var(--badge-text-color);
}

.custom-text {
    color: var(--badge-text-color);
}

.fixed-navigation {
    position: fixed;
}

@media (max-width: 767px) {
    .fixed-navigation {
        position: static; /* Reset position for smaller screens */
    }
}

@media (min-width: 768px) {
    .fixed-navigation {
        position: fixed; /* Apply fixed position for larger screens */
        /* Additional styling as needed */
    }
}

.navbar-nav {
    margin: 0 auto; /* Center the navbar items */
}

.nav-item {
    margin-right: 15px; /* Adjust the right margin between navbar items */
}

/* .nav-link {
    color: #333;
    font-weight: bold;
} */

.nav-link:hover {
    color: var(--badge-text-color); /* Color of the navbar links on hover */
}
.nav-link {
    color: #f0f0f0;
}

.navbar-nav .nav-link.active {
    color: var(--badge-text-color) ;
}

.custom-bg-color {
    background-color: rgb(15, 23, 42);
}